@import 'assets/css/variables.scss';
@import 'assets/css/font-face.scss';
@import 'assets/css/animation.scss';
@import 'assets/css/resets.scss';
@import 'assets/css/base-class.scss';
@import 'assets/css/customs-class.scss';

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}
*::after,
*::before {
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #2dbc8e;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5e6588;
  border-radius: 10px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #ffffff;
}

#root {
  width: 100%;
  min-height: 100%;
  background-color: $secondary;
}
