@import 'assets/css/variables.scss';

.home {
  width: 100%;
  min-height: calc(100vh - 386px - $MENU-HEIGHT);
  position: relative;

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 50px;
    font-weight: bold;
  }
}
